*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background-image: url(assets/bg.png);
    /* background-size : 100% 100% ; */
    background-size:cover;
    /* background-attachment:scroll; */
    /* background-repeat:repeat; */
}

/* navbar */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
    color: #ffffff;
    padding: 15px 50px;
    font-family: 'Poppins';
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    padding-right: 220px;
    font-family: 'Poppins';
    border-left: 2px solid #fff;
    margin-left: 20px;
    width: 100%;
    transform: translate(-100px);
}
.list-item{
    margin: 20px 25px;
    font-family: 'Poppins';
    font-weight: 500;
}
.list > :first-child::after{
    content: '>';
    display: inline-block;
    /* color: red; */
    transform: rotate(90deg);
    margin-left: 6px;
}
.button-small{
    margin-top: 10px;
    padding: 10px 40px;
    background-color: #BA0CC5;
    color: #ffffff;
    font-family: 'Poppins';
    border-radius: 0.6em;
    font-weight: 500;
    /* margin-bottom: 10px; */
}

/* hero */
.hero{
    text-align: center;
    margin: 50px;
    color: #ffffff;
    padding: 0px 100px;
    font-family: 'Montserrat';
}
.hero-heading{
    font-size: 100px;
    margin-bottom: 10px;
}
.hero-description{
    font-family: 'Poppins';
    margin-bottom: 40px;
    font-weight: 500;
    font-size: larger;
}
.button-large{
    padding: 15px 20px;
    background-color: #BA0CC5;
    border: 0px;
    border-radius: 0.6em;
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: large;
}
.list{
    padding-left: 40px;
}
.navbar div:last-child{
    background-color: #000000;
}

@media screen and (max-width:1200px) {
    .navbar{
        position: static;
        width: 100%;
    }
    .hero{
        /* margin: 40px; */
        padding: 20px;
    }
    .list{
        width: min-content;
        padding-right: 20px;
        transform: translate(0px);
    }
    .navbar{
        padding: 20px;
        
    }
    .list li:first-child{
        display: inline-block;
        width: 80px;
    }
}

@media screen and (max-width:997px) {
    .navbar{
        justify-content: flex-start;
    }
    .list{
        justify-content: flex-start;
        padding-left: 20px;
        padding-right: 40px;
    }
    .list-item{
        margin: 15px 6px;
    }
}
@media screen and (max-width:802px) {
    .logo{
        width: 100px;
        padding-top: 10px;
    }
    .hero-heading{
        font-size: 50px;
    }
    .navbar{
        padding: 10px 15px;
    }
    .button-small{
        padding: 5px 10px;
    }
}

@media screen and (max-width:657px) {
    .navbar{
        justify-content: flex-start;
    }
    .list{
        width: min-content;
        padding-right: 5px;
        padding-left: 5px;
        background-color: #000000;
    }
    .navbar{
        padding: 0px 15px;
    }
    .list-item{
        font-size: 10px;
    }
    .list li:first-child{
        display: inline-block;
        width: 40px;
    }
}

@media screen and (max-width:450px) {
    .logo{
        width: 50px;
    }
    .list{
        margin-left: 10px;
    }
    .hero{
        padding: 0px;
        margin: 0px;
    }
    .hero-heading{
        font-size: 30px;
        padding-top: 50px;
    }
    .hero-description{
        font-size: 15px;
    }
    .button-large{
        padding: 5px 10px;
        font-size: 10px;
    }
    .list-item{
        padding-left: 0px;
        margin-left: 0px;
    }
    .list{
        padding: 0px;
        padding-left: 3px;
    }
}

@media screen and (max-width:382) {
    .button-small{
        padding: 2px 4px;
        font-size: 7px;
    }
    .navbar div:first-child{
        margin: 0px;
        padding: 0px;
    }
    .list li:first-child{
        display: inline-block;
        width: 30px;
    }
    .logo{
        width: 10px;
        margin: 0px;
    }
    .navbar div{
        margin-left: 0px;
    }
    .navbar{
        margin: 0px;
        padding: 0px;
    }
}